.div1.fly-birds-page_7da3b7394e {
  flex-direction: column;
  margin: 0 auto;
  overflow: hidden;
  z-index: 1;
}
.div1.fly-birds-page_7da3b7394e,
.div1.fly-birds-page_7da3b7394e .div2 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  width: 10rem;
}
.div1.fly-birds-page_7da3b7394e .div2 {
  flex-direction: row;
  height: 4.375rem;
  padding-right: 4.50781rem;
  z-index: 9;
}
.div1.fly-birds-page_7da3b7394e .div2 .image3 {
  height: 4.375rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_7da3b7394e .div2 .div4 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -8.52734rem;
  margin-top: 1rem;
  min-height: 2.19531rem;
  width: 4.01953rem;
  z-index: 1;
}
.div1.fly-birds-page_7da3b7394e .div2 .div4 .image5 {
  height: 0.67969rem;
  width: 4.01953rem;
}
.div1.fly-birds-page_7da3b7394e .div2 .div4 .kv-title {
  color: #000;
  font-size: 0.33594rem;
  line-height: 1.2;
  text-align: start;
  width: 4.01953rem;
}
.div1.fly-birds-page_7da3b7394e .div2 .div4 .div6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 0.23438rem;
  width: 3.24219rem;
}
.div1.fly-birds-page_7da3b7394e .div2 .div4 .div6 .split_text456 {
  color: #000;
  font-size: 0.1875rem;
  line-height: 0.23438rem;
  text-align: start;
  width: 3.45703rem;
}
.div1.fly-birds-page_7da3b7394e .div2 .div4 .div7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 0.15625rem;
  width: 0.3125rem;
}
.div1.fly-birds-page_7da3b7394e .div2 .div4 .div7 .split_text458 {
  color: #000;
  font-family: MiSansLatinVF-Bold, sans-serif;
  font-size: 0.125rem;
  line-height: 0.55078rem;
  text-align: left;
}
.div1.fly-birds-page_7da3b7394e .div2 .div4 .div8 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 0.27344rem;
  width: 3.02344rem;
}
.div1.fly-birds-page_7da3b7394e .div2 .div4 .div8 .split_text457 {
  color: #000;
  font-size: 0.10156rem;
  line-height: 0.13281rem;
  text-align: start;
  width: 3.08203rem;
}
.div1.fly-birds-page_7da3b7394e .image9 {
  height: 34.36328rem;
  margin-top: -4.375rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_7da3b7394e .div10 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 6.14844rem;
  justify-content: flex-start;
  margin-left: -0.00391rem;
  margin-top: -29.98828rem;
  width: 9.99609rem;
  z-index: 8;
}
.div1.fly-birds-page_7da3b7394e .div10 .image11 {
  height: 6.14844rem;
  width: 9.99609rem;
  z-index: 0;
}
.div1.fly-birds-page_7da3b7394e .div10 .div12 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0.00391rem;
  margin-top: -5.36328rem;
  min-height: 1.04688rem;
  width: 5.82813rem;
  z-index: 1;
}
.div1.fly-birds-page_7da3b7394e .div10 .div12 .div13 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 3.35156rem;
}
.div1.fly-birds-page_7da3b7394e .div10 .div12 .div13 .split_text454 {
  color: #000;
  font-size: 0.23438rem;
  line-height: 0.23438rem;
  text-align: center;
  width: 6.11328rem;
}
.div1.fly-birds-page_7da3b7394e .div10 .div12 .div14 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 5.82813rem;
}
.div1.fly-birds-page_7da3b7394e .div10 .div12 .div14 .split_text455 {
  color: #000;
  font-size: 0.23438rem;
  line-height: 0.23438rem;
  text-align: center;
  width: 7.03125rem;
}
.div1.fly-birds-page_7da3b7394e .div10 .div12 .spacer {
  flex: 1 1;
}
.div1.fly-birds-page_7da3b7394e .div10 .div12 .div15 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 0.29297rem;
  width: 4.44531rem;
}
.div1.fly-birds-page_7da3b7394e .div10 .div12 .div15 .split_text453 {
  color: #000;
  font-size: 0.10938rem;
  line-height: 0.14844rem;
  text-align: center;
  width: 4.50391rem;
}
.div1.fly-birds-page_7da3b7394e .div16 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 8.70313rem;
  justify-content: flex-start;
  margin-top: -0.03125rem;
  padding-bottom: 0.53516rem;
  width: 10rem;
  z-index: 7;
}
.div1.fly-birds-page_7da3b7394e .div16 .image17 {
  height: 8.70313rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_7da3b7394e .div16 .div18 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0.00391rem;
  margin-top: -7.85547rem;
  width: 5.26172rem;
  z-index: 3;
}
.div1.fly-birds-page_7da3b7394e .div16 .div18 .div19 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 2.48828rem;
}
.div1.fly-birds-page_7da3b7394e .div16 .div18 .div19 .split_text450 {
  color: #000;
  font-size: 0.23438rem;
  line-height: 0.23438rem;
  text-align: center;
  width: 5.65234rem;
}
.div1.fly-birds-page_7da3b7394e .div16 .div18 .div20 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 0.01563rem;
  width: 5.26172rem;
}
.div1.fly-birds-page_7da3b7394e .div16 .div18 .div20 .split_text451 {
  color: #000;
  font-size: 0.23438rem;
  line-height: 0.23438rem;
  text-align: center;
  width: 5.65234rem;
}
.div1.fly-birds-page_7da3b7394e .div16 .div18 .spacer {
  flex: 1 1;
}
.div1.fly-birds-page_7da3b7394e .div16 .div18 .div21 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -0.01172rem;
  margin-top: 0.25rem;
  width: 2.15625rem;
}
.div1.fly-birds-page_7da3b7394e .div16 .div18 .div21 .split_text452 {
  color: #000;
  font-size: 0.10938rem;
  line-height: 0.14844rem;
  text-align: center;
  width: 6.57813rem;
}
.div1.fly-birds-page_7da3b7394e .div16 .div22 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 0.39063rem;
  min-height: 2.83984rem;
  width: 6.11719rem;
  z-index: 1;
}
.div1.fly-birds-page_7da3b7394e .div16 .div22 .image23 {
  border-radius: 0.07813rem;
  height: 2.83984rem;
  width: 6.11719rem;
  z-index: 0;
}
.div1.fly-birds-page_7da3b7394e .div16 .div22 .div24 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0.64844rem;
  margin-top: -2.44531rem;
  width: 4.75391rem;
  z-index: 1;
}
.div1.fly-birds-page_7da3b7394e .div16 .div22 .div24 .split_text447 {
  color: #000;
  font-size: 0.23438rem;
  line-height: 0.23438rem;
  text-align: start;
  width: 5.25rem;
}
.div1.fly-birds-page_7da3b7394e .div16 .div22 .div25 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0.64844rem;
  margin-top: 0.05859rem;
  width: 2.25781rem;
  z-index: 2;
}
.div1.fly-birds-page_7da3b7394e .div16 .div22 .div25 .split_text448 {
  color: #000;
  font-size: 0.23438rem;
  line-height: 0.23438rem;
  text-align: start;
  width: 4.65625rem;
}
.div1.fly-birds-page_7da3b7394e .div16 .div22 .div26 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0.63672rem;
  margin-top: 0.10938rem;
  width: 4.11328rem;
  z-index: 3;
}
.div1.fly-birds-page_7da3b7394e .div16 .div22 .div26 .split_text449 {
  color: #000;
  font-size: 0.10938rem;
  line-height: 0.13281rem;
  text-align: start;
  width: 4.33984rem;
}
.div1.fly-birds-page_7da3b7394e .div16 .div23 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 0.19531rem;
  min-height: 2.83984rem;
  width: 6.11719rem;
  z-index: 1;
}
.div1.fly-birds-page_7da3b7394e .div16 .div23 .image23 {
  border-radius: 0.07813rem;
  height: 2.83984rem;
  width: 6.11719rem;
  z-index: 0;
}
.div1.fly-birds-page_7da3b7394e .div16 .div23 .div24 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0.64844rem;
  margin-top: -2.44531rem;
  width: 4.75391rem;
  z-index: 1;
}
.div1.fly-birds-page_7da3b7394e .div16 .div23 .div24 .split_text447 {
  color: #000;
  font-size: 0.23438rem;
  line-height: 0.23438rem;
  text-align: start;
  width: 5.25rem;
}
.div1.fly-birds-page_7da3b7394e .div16 .div23 .div25 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0.64844rem;
  margin-top: 0.05859rem;
  width: 2.25781rem;
  z-index: 2;
}
.div1.fly-birds-page_7da3b7394e .div16 .div23 .div25 .split_text448 {
  color: #000;
  font-size: 0.23438rem;
  line-height: 0.23438rem;
  text-align: start;
  width: 4.65625rem;
}
.div1.fly-birds-page_7da3b7394e .div16 .div23 .div26 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0.63672rem;
  margin-top: 0.10938rem;
  width: 4.11328rem;
  z-index: 3;
}
.div1.fly-birds-page_7da3b7394e .div16 .div23 .div26 .split_text449 {
  color: #000;
  font-size: 0.10938rem;
  line-height: 0.13281rem;
  text-align: start;
  width: 4.33984rem;
}
.div1.fly-birds-page_7da3b7394e .div28 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 3.92188rem;
  justify-content: flex-start;
  margin-top: -0.02734rem;
  padding-bottom: 0.50781rem;
  width: 10rem;
  z-index: 6;
}
.div1.fly-birds-page_7da3b7394e .div28 .image29 {
  height: 3.92188rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_7da3b7394e .div28 .div30 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0.00781rem;
  margin-top: -3.07422rem;
  width: 3.375rem;
  z-index: 3;
}
.div1.fly-birds-page_7da3b7394e .div28 .div30 .split_text446 {
  color: #000;
  font-size: 0.23438rem;
  line-height: 0.23438rem;
  text-align: center;
  width: 4.00391rem;
}
.div1.fly-birds-page_7da3b7394e .div28 .spacer {
  flex: 1 1;
}
.div1.fly-birds-page_7da3b7394e .div28 .div31 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -3.11328rem;
  margin-top: 2.07031rem;
  width: 2.57422rem;
  z-index: 1;
}
.div1.fly-birds-page_7da3b7394e .div28 .div31 .split_text444 {
  color: #000;
  font-size: 0.10938rem;
  line-height: 0.14844rem;
  text-align: start;
  width: 2.65625rem;
}
.div1.fly-birds-page_7da3b7394e .div28 .div32 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 3.0625rem;
  margin-top: -0.25391rem;
  width: 2.58594rem;
  z-index: 2;
}
.div1.fly-birds-page_7da3b7394e .div28 .div32 .split_text445 {
  color: #000;
  font-size: 0.10938rem;
  line-height: 0.14844rem;
  text-align: start;
  width: 2.65625rem;
}
.div1.fly-birds-page_7da3b7394e .div33 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 4.17578rem;
  justify-content: flex-start;
  margin-top: -0.01953rem;
  padding-right: 1.97266rem;
  width: 10rem;
  z-index: 5;
}
.div1.fly-birds-page_7da3b7394e .div33 .image34 {
  height: 4.17578rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_7da3b7394e .div33 .div35 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -4.94922rem;
  margin-top: -0.21484rem;
  min-height: 1.04688rem;
  width: 2.97656rem;
  z-index: 1;
}
.div1.fly-birds-page_7da3b7394e .div33 .div35 .div36 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 2.96484rem;
}
.div1.fly-birds-page_7da3b7394e .div33 .div35 .div36 .split_text441 {
  color: #000;
  font-size: 0.23438rem;
  line-height: 0.23438rem;
  text-align: start;
  width: 3.58984rem;
}
.div1.fly-birds-page_7da3b7394e .div33 .div35 .div37 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 0.07422rem;
  width: 2.10547rem;
}
.div1.fly-birds-page_7da3b7394e .div33 .div35 .div37 .split_text442 {
  color: #000;
  font-size: 0.23438rem;
  line-height: 0.23438rem;
  text-align: start;
  width: 3.58984rem;
}
.div1.fly-birds-page_7da3b7394e .div33 .div35 .spacer {
  flex: 1 1;
}
.div1.fly-birds-page_7da3b7394e .div33 .div35 .div38 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 0.20313rem;
  width: 2.82031rem;
}
.div1.fly-birds-page_7da3b7394e .div33 .div35 .div38 .split_text443 {
  color: #000;
  font-size: 0.10938rem;
  line-height: 0.14844rem;
  text-align: start;
  width: 3.46484rem;
}
.div1.fly-birds-page_7da3b7394e .div39 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 4.17578rem;
  justify-content: flex-start;
  margin-top: -0.02344rem;
  padding-right: 4.21094rem;
  width: 10rem;
  z-index: 4;
}
.div1.fly-birds-page_7da3b7394e .div39 .image40 {
  height: 4.17578rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_7da3b7394e .div39 .div41 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -7.77344rem;
  margin-top: 0.21875rem;
  min-height: 1.11328rem;
  width: 3.5625rem;
  z-index: 1;
}
.div1.fly-birds-page_7da3b7394e .div39 .div41 .div42 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0.00391rem;
  width: 1.65625rem;
}
.div1.fly-birds-page_7da3b7394e .div39 .div41 .div42 .split_text438 {
  color: #000;
  font-size: 0.23438rem;
  line-height: 0.23438rem;
  text-align: start;
  width: 3.58984rem;
}
.div1.fly-birds-page_7da3b7394e .div39 .div41 .div43 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 0.04297rem;
  width: 3.42969rem;
}
.div1.fly-birds-page_7da3b7394e .div39 .div41 .div43 .split_text439 {
  color: #000;
  font-size: 0.23438rem;
  line-height: 0.23438rem;
  text-align: start;
  width: 3.60156rem;
}
.div1.fly-birds-page_7da3b7394e .div39 .div41 .div44 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0.01172rem;
  margin-top: 0.20313rem;
  width: 3.55078rem;
}
.div1.fly-birds-page_7da3b7394e .div39 .div41 .div44 .split_text440 {
  color: #000;
  font-size: 0.10938rem;
  line-height: 0.14844rem;
  text-align: start;
  width: 3.57422rem;
}
.div1.fly-birds-page_7da3b7394e .div45 {
  align-items: center;
  background-color: #b7cce1;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 1.57031rem;
  justify-content: flex-start;
  width: 10rem;
  z-index: 3;
}
.div1.fly-birds-page_7da3b7394e .div45 .image47 {
  height: 1.28906rem;
  margin-left: 2.73438rem;
  width: 1.04688rem;
  z-index: 1;
}
.div1.fly-birds-page_7da3b7394e .div45 .btn-wrap {
  height: 0.33203rem;
  margin-left: 2.57813rem;
  position: relative;
  width: 1.55078rem;
}
.div1.fly-birds-page_7da3b7394e .div45 .btn-wrap .split_text1868 {
  color: #fff;
  font-size: 0.125rem;
  left: 0.03906rem;
  line-height: 0.17578rem;
  position: absolute;
  text-align: center;
  top: 0.07813rem;
  width: 0.95703rem;
  z-index: 2;
}
.div1.fly-birds-page_7da3b7394e .div45 .btn-wrap .split_text4521-bg {
  background-image: url(https://i02.appmifile.com/mi-com-product/fly-birds/xiaomi-water-flosser-replacement-tips/pc/btn-white1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 0.33203rem;
  position: absolute;
  width: 1.55469rem;
  z-index: 1;
}
.div1.fly-birds-page_7da3b7394e .div51 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.48828rem 1.48438rem;
  width: 10rem;
  z-index: 1;
}
.div1.fly-birds-page_7da3b7394e .div51 .split_text435,
.div1.fly-birds-page_7da3b7394e .div51 .split_text436 {
  color: #8f8f8f;
  font-size: 0.10156rem;
  line-height: 0.11719rem;
  text-align: start;
  width: 6.625rem;
}
.div1.fly-birds-page_7da3b7394e .div51 .split_text436 {
  margin-top: 0.03125rem;
}
.specs-con {
  background-color: #fff;
}
.specs-con .f12 {
  font-size: 12px;
}
.specs-con .f14 {
  font-size: 14px;
}
.specs-con .f16 {
  font-size: 16px;
}
.specs-con .f18 {
  font-size: 18px;
}
.specs-con .f20 {
  font-size: 20px;
}
.specs-con .f22 {
  font-size: 22px;
}
.specs-con .f24 {
  font-size: 24px;
}
.specs-con .f28 {
  font-size: 28px;
}
.specs-con .f30 {
  font-size: 30px;
}
.specs-con .f32 {
  font-size: 32px;
}
.specs-con .f36 {
  font-size: 36px;
}
.specs-con .f38 {
  font-size: 38px;
}
.specs-con .f40 {
  font-size: 40px;
}
.specs-con .f46 {
  font-size: 46px;
}
.specs-con .f48 {
  font-size: 48px;
}
.specs-con .f50 {
  font-size: 50px;
}
.specs-con .f56 {
  font-size: 56px;
}
.specs-con .f60 {
  font-size: 60px;
}
.specs-con .f64 {
  font-size: 64px;
}
.specs-con .f70 {
  font-size: 70px;
}
.specs-con .f72 {
  font-size: 72px;
}
.specs-con .f74 {
  font-size: 74px;
}
.specs-con .f76 {
  font-size: 76px;
}
.specs-con .f80 {
  font-size: 80px;
}
.specs-con .f90 {
  font-size: 90px;
}
.specs-con .f100 {
  font-size: 100px;
}
.specs-con .f110 {
  font-size: 110px;
}
.specs-con .f120 {
  font-size: 120px;
}
.specs-con .f130 {
  font-size: 130px;
}
.specs-con .f140 {
  font-size: 140px;
}
.specs-con .f148 {
  font-size: 148px;
}
.specs-con .f150 {
  font-size: 150px;
}
.specs-con .section {
  box-sizing: border-box;
  margin: 0 auto;
  width: 1226px;
}

.xm-page-area .buy-container .product__main {
  border-top: none !important;
}
.hide-pc {
  display: none !important;
}

html {
  margin: 0 auto;
}
body,
html {
  height: 100%;
}
body,
html,
li,
p,
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
:root {
  --skeleton-color: #eee;
}
body > img,
head > img,
html > img {
  display: none;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: -10;
}

.xm-text {
  display: inline-block;
  white-space: break-spaces !important;
}

.hide {
  display: none !important;
}
.xm-page-hide {
  height: 0;
  position: absolute;
}

.xm-picture .xm-img {
  width: 100%;
}
.xm-img {
  color: transparent;
}
.xm-img:not([src]),
.xm-img[src=""] {
  visibility: hidden;
}
.xm-picture {
  display: inline-flex;
}
.eg .xm-text,
.gcc .xm-text,
.sa .xm-text {
  display: block;
}

.section {
  background-repeat: no-repeat;
  margin-bottom: -1px;
  position: relative;
}

.kh .xm-text,
.mm .xm-text,
.th .xm-text {
  line-height: 1.5 !important;
} /*! normalize.css v3.0.2 | MIT License | git.io/normalize */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}

abbr[title] {
  border-bottom: 0.00391rem dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

small {
  font-size: 80%;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 0.15625rem;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}


textarea {
  overflow: auto;
}
optgroup {
  font-weight: 700;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}

dd,
dl,
dt,
li,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
.f-thin {
  font-weight: 100;
}
.f-extra {
  font-weight: 200;
}
.f-light {
  font-weight: 300;
}
.f-regular {
  font-weight: 400;
}
.f-medium {
  font-weight: 500;
}
.f-semi {
  font-weight: 600;
}
.f-bold {
  font-weight: 700;
}
.f-bolder {
  font-weight: 800;
}
.f-heavy {
  font-weight: 900;
}
.xm-button,
.xm-navbar__nav-item,
.xm-price {
  font-weight: 400 !important;
}

.container {
  margin: 0 auto;
  width: 1226px;
}
main {
  display: inline-block;
  font-size: 16px;
}

