.div1.fly-birds-page_368af867a4 {
  background-color: #fff;
  margin: 0 auto;
  overflow: hidden;
  z-index: 1;
}
.div1.fly-birds-page_368af867a4,
.div1.fly-birds-page_368af867a4 .div2 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 22.5rem;
}
.div1.fly-birds-page_368af867a4 .div2 {
  height: 41.16667rem;
  padding-bottom: 1.72917rem;
  z-index: 4;
}
.div1.fly-birds-page_368af867a4 .div2 .image3 {
  height: 41.16667rem;
  width: 22.5rem;
  z-index: 0;
}
.div1.fly-birds-page_368af867a4 .div2 .div4 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -0.14583rem;
  margin-top: -36.6875rem;
  min-height: 12.08333rem;
  width: 18.85417rem;
  z-index: 1;
}
.div1.fly-birds-page_368af867a4 .div2 .div4 .image5 {
  height: 3.1875rem;
  width: 18.85417rem;
}
.div1.fly-birds-page_368af867a4 .div2 .div4 .kv-title {
  color: #000;
  font-size: 1.70833rem;
  line-height: 1.2;
  text-align: start;
  width: 20.83333rem;
}
.div1.fly-birds-page_368af867a4 .div2 .div4 .div6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 1.77083rem;
  width: 14.20833rem;
}
.div1.fly-birds-page_368af867a4 .div2 .div4 .div6 .split_text482 {
  color: #000;
  font-size: 0.85417rem;
  line-height: 1.125rem;
  text-align: start;
  width: 16.875rem;
}
.div1.fly-birds-page_368af867a4 .div2 .div4 .price {
  color: #000;
  font-size: 0.75rem;
  margin-top: 0.83333rem;
  text-align: start;
}
.div1.fly-birds-page_368af867a4 .div2 .div7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 2rem;
  margin-top: 20.20833rem;
  width: 14.95833rem;
  z-index: 1;
}
.div1.fly-birds-page_368af867a4 .div2 .div7 .split_text483 {
  color: #000;
  font-size: 0.75rem;
  line-height: 0.875rem;
  text-align: start;
  width: 15.0625rem;
}
.div1.fly-birds-page_368af867a4 .div8 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 35.58333rem;
  justify-content: flex-start;
  margin-top: -0.10417rem;
  width: 22.5rem;
  z-index: 3;
}
.div1.fly-birds-page_368af867a4 .div8 .image9 {
  height: 35.58333rem;
  width: 22.5rem;
  z-index: 0;
}
.div1.fly-birds-page_368af867a4 .div8 .div10 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0.04167rem;
  margin-top: -31.64583rem;
  width: 20.25rem;
  z-index: 1;
}
.div1.fly-birds-page_368af867a4 .div8 .div10 .div11 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -0.04167rem;
  width: 19.08333rem;
}
.div1.fly-birds-page_368af867a4 .div8 .div10 .div11 .split_text480 {
  color: #000;
  font-size: 1.33333rem;
  line-height: 1.70833rem;
  text-align: center;
  width: 21.58333rem;
}
.div1.fly-birds-page_368af867a4 .div8 .div10 .div12 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 20.25rem;
}
.div1.fly-birds-page_368af867a4 .div8 .div10 .div12 .split_text481 {
  color: #000;
  font-size: 1.33333rem;
  line-height: 1.45833rem;
  text-align: center;
  width: 20.4375rem;
}
.div1.fly-birds-page_368af867a4 .div8 .div10 .div13 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -0.08333rem;
  margin-top: 1.16667rem;
  width: 18.25rem;
}
.div1.fly-birds-page_368af867a4 .div8 .div10 .div13 .split_text479 {
  color: #000;
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: center;
  width: 18.9375rem;
}
.div1.fly-birds-page_368af867a4 .div14 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 61.97917rem;
  justify-content: flex-start;
  margin-top: -0.125rem;
  padding-bottom: 2.60417rem;
  width: 22.5rem;
  z-index: 2;
}
.div1.fly-birds-page_368af867a4 .div14 .image15 {
  height: 61.97917rem;
  width: 22.5rem;
  z-index: 0;
}
.div1.fly-birds-page_368af867a4 .div14 .div16 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0.02083rem;
  margin-top: -57.91667rem;
  width: 19.89583rem;
  z-index: 3;
}
.div1.fly-birds-page_368af867a4 .div14 .div16 .div17 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 14.1875rem;
}
.div1.fly-birds-page_368af867a4 .div14 .div16 .div17 .split_text477 {
  color: #000;
  font-size: 1.33333rem;
  line-height: 1.45833rem;
  text-align: center;
  width: 16.8125rem;
}
.div1.fly-birds-page_368af867a4 .div14 .div16 .div18 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 19.89583rem;
}
.div1.fly-birds-page_368af867a4 .div14 .div16 .div18 .split_text478 {
  color: #000;
  font-size: 1.33333rem;
  line-height: 1.45833rem;
  text-align: center;
  width: 21.39583rem;
}
.div1.fly-birds-page_368af867a4 .div14 .div16 .div19 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -0.04167rem;
  margin-top: 0.97917rem;
  width: 14.77083rem;
}
.div1.fly-birds-page_368af867a4 .div14 .div16 .div19 .split_text476 {
  color: #000;
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: center;
  width: 18.70833rem;
}
.div1.fly-birds-page_368af867a4 .div14 .div20 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -0.02083rem;
  margin-top: 1.9375rem;
  min-height: 22.8125rem;
  width: 19.22917rem;
  z-index: 2;
}
.div1.fly-birds-page_368af867a4 .div14 .div20 .image21 {
  border-radius: 0.41667rem;
  height: 22.8125rem;
  width: 19.22917rem;
  z-index: 0;
}
.div1.fly-birds-page_368af867a4 .div14 .div20 .div22 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -1.29167rem;
  margin-top: -19.6875rem;
  min-height: 7.4375rem;
  width: 16.39583rem;
  z-index: 1;
}
.div1.fly-birds-page_368af867a4 .div14 .div20 .div22 .div23 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 15.20833rem;
}
.div1.fly-birds-page_368af867a4 .div14 .div20 .div22 .div23 .split_text473 {
  color: #000;
  font-size: 1rem;
  line-height: 1.2;
  text-align: start;
  width: 15.20833rem;
}
.div1.fly-birds-page_368af867a4 .div14 .div20 .div22 .div24 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 9.64583rem;
}
.div1.fly-birds-page_368af867a4 .div14 .div20 .div22 .div24 .split_text474 {
  color: #000;
  font-size: 1rem;
  line-height: 1.2;
  text-align: start;
  width: 17.5rem;
}
.div1.fly-birds-page_368af867a4 .div14 .div20 .div22 .div25 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 1.54167rem;
  width: 16.14583rem;
}
.div1.fly-birds-page_368af867a4 .div14 .div20 .div22 .div25 .split_text475 {
  color: #000;
  font-size: 0.75rem;
  line-height: 0.95833rem;
  text-align: start;
  width: 16.29167rem;
}
.div1.fly-birds-page_368af867a4 .div14 .div26 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 1.625rem;
  min-height: 22.8125rem;
  width: 19.20833rem;
  z-index: 1;
}
.div1.fly-birds-page_368af867a4 .div14 .div26 .image27 {
  border-radius: 0.41667rem;
  height: 22.8125rem;
  width: 19.20833rem;
  z-index: 0;
}
.div1.fly-birds-page_368af867a4 .div14 .div26 .div28 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0.72917rem;
  margin-top: -19.39583rem;
  width: 16.22917rem;
  z-index: 1;
}
.div1.fly-birds-page_368af867a4 .div14 .div26 .div28 .div29 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 15.4375rem;
}
.div1.fly-birds-page_368af867a4 .div14 .div26 .div28 .div29 .split_text470 {
  color: #000;
  font-size: 1rem;
  line-height: 1.2;
  text-align: start;
  width: 17.16667rem;
}
.div1.fly-birds-page_368af867a4 .div14 .div26 .div28 .div30 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 11.02083rem;
}
.div1.fly-birds-page_368af867a4 .div14 .div26 .div28 .div30 .split_text471 {
  color: #000;
  font-size: 1rem;
  line-height: 1.2;
  text-align: start;
  width: 17.16667rem;
}
.div1.fly-birds-page_368af867a4 .div14 .div26 .div28 .div31 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 1.25rem;
  width: 16.22917rem;
}
.div1.fly-birds-page_368af867a4 .div14 .div26 .div28 .div31 .split_text472 {
  color: #000;
  font-size: 0.75rem;
  line-height: 0.95833rem;
  text-align: start;
  width: 16.75rem;
}
.div1.fly-birds-page_368af867a4 .div32 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 20.125rem;
  justify-content: flex-start;
  margin-top: 0.64583rem;
  padding-bottom: 2.25rem;
  width: 22.5rem;
}
.div1.fly-birds-page_368af867a4 .div32 .image33 {
  height: 20.125rem;
  width: 22.5rem;
  z-index: 0;
}
.div1.fly-birds-page_368af867a4 .div32 .div34 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 0.02083rem;
  margin-top: -15.95833rem;
  min-height: 13.70833rem;
  width: 19.1875rem;
  z-index: 1;
}
.div1.fly-birds-page_368af867a4 .div32 .div34 .div35 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 19.1875rem;
}
.div1.fly-birds-page_368af867a4 .div32 .div34 .div35 .split_text467 {
  color: #000;
  font-size: 1.33333rem;
  line-height: 1.70833rem;
  text-align: center;
  width: 20.47917rem;
}
.div1.fly-birds-page_368af867a4 .div32 .div34 .div36 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 18.10417rem;
  margin-top: 9rem;
}
.div1.fly-birds-page_368af867a4 .div32 .div34 .div36 .div37 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 8.5625rem;
}
.div1.fly-birds-page_368af867a4 .div32 .div34 .div36 .div37 .split_text468 {
  color: #000;
  font-size: 0.75rem;
  line-height: 0.95833rem;
  text-align: start;
  width: 8.83333rem;
}
.div1.fly-birds-page_368af867a4 .div32 .div34 .div36 .div38 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0.875rem;
  width: 8.66667rem;
}
.div1.fly-birds-page_368af867a4 .div32 .div34 .div36 .div38 .split_text469 {
  color: #000;
  font-size: 0.75rem;
  line-height: 0.95833rem;
  text-align: start;
  width: 9rem;
}
.div1.fly-birds-page_368af867a4 .div39 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 34.70833rem;
  justify-content: flex-start;
  margin-top: 4.14583rem;
  width: 22.5rem;
  z-index: 1;
}
.div1.fly-birds-page_368af867a4 .div39 .image40 {
  height: 34.70833rem;
  width: 22.5rem;
  z-index: 0;
}
.div1.fly-birds-page_368af867a4 .div39 .div41 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0.04167rem;
  margin-top: -30.5625rem;
  min-height: 6.70833rem;
  width: 17.95833rem;
  z-index: 1;
}
.div1.fly-birds-page_368af867a4 .div39 .div41 .div42 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 16.70833rem;
}
.div1.fly-birds-page_368af867a4 .div39 .div41 .div42 .split_text465 {
  color: #000;
  font-size: 1.33333rem;
  line-height: 1.45833rem;
  text-align: center;
  width: 19.875rem;
}
.div1.fly-birds-page_368af867a4 .div39 .div41 .div43 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 11.97917rem;
}
.div1.fly-birds-page_368af867a4 .div39 .div41 .div43 .split_text466 {
  color: #000;
  font-size: 1.33333rem;
  line-height: 1.45833rem;
  text-align: center;
  width: 18.52083rem;
}
.div1.fly-birds-page_368af867a4 .div39 .div41 .div44 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 0.9375rem;
  width: 17.95833rem;
}
.div1.fly-birds-page_368af867a4 .div39 .div41 .div44 .split_text464 {
  color: #000;
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: center;
  width: 18.70833rem;
}
.div1.fly-birds-page_368af867a4 .div45 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: -0.0625rem;
}
.div1.fly-birds-page_368af867a4 .div45,
.div1.fly-birds-page_368af867a4 .div45 .image46 {
  height: 33.375rem;
  width: 22.5rem;
  z-index: 0;
}
.div1.fly-birds-page_368af867a4 .div45 .div47 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0.0625rem;
  margin-top: -29.125rem;
  min-height: 6.75rem;
  width: 19.3125rem;
  z-index: 1;
}
.div1.fly-birds-page_368af867a4 .div45 .div47 .div48 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 9.41667rem;
}
.div1.fly-birds-page_368af867a4 .div45 .div47 .div48 .split_text462 {
  color: #000;
  font-size: 1.33333rem;
  line-height: 1.70833rem;
  text-align: center;
  width: 13.5625rem;
}
.div1.fly-birds-page_368af867a4 .div45 .div47 .div49 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 19.3125rem;
}
.div1.fly-birds-page_368af867a4 .div45 .div47 .div49 .split_text463 {
  color: #000;
  font-size: 1.33333rem;
  line-height: 1.45833rem;
  text-align: center;
  width: 20.1875rem;
}
.div1.fly-birds-page_368af867a4 .div45 .div47 .div50 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 1.0625rem;
  width: 17.97917rem;
}
.div1.fly-birds-page_368af867a4 .div45 .div47 .div50 .split_text461 {
  color: #000;
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: center;
  width: 18.70833rem;
}
.div1.fly-birds-page_368af867a4 .div51 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2.5rem 1.66667rem;
  width: 22.5rem;
}
.div1.fly-birds-page_368af867a4 .div51 .split_text460 {
  color: #000;
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: start;
  width: 17.95833rem;
}
.div1.fly-birds-page_368af867a4 .div51 .split_text459 {
  color: #000;
  font-size: 0.75rem;
  line-height: 1rem;
  margin-top: 0.41667rem;
  text-align: start;
  width: 18.25rem;
}
.specs-con {
  background-color: #fff;
}

.swiper-container {
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding: 0;
  position: relative;
  z-index: 1;
}
.swiper-container-vertical > .swiper-wrapper {
  flex-direction: column;
}
.swiper-wrapper {
  box-sizing: content-box;
  display: flex;
  height: 100%;
  position: relative;
  transition-property: transform;
  width: 100%;
  z-index: 1;
}
.swiper-container-android .swiper-slide,
.swiper-wrapper {
  transform: translateZ(0);
}
.swiper-container-multirow > .swiper-wrapper {
  flex-wrap: wrap;
}
.swiper-container-multirow-column > .swiper-wrapper {
  flex-direction: column;
  flex-wrap: wrap;
}
.swiper-container-free-mode > .swiper-wrapper {
  margin: 0 auto;
  transition-timing-function: ease-out;
}
.swiper-container-pointer-events {
  touch-action: pan-y;
}
.swiper-container-pointer-events.swiper-container-vertical {
  touch-action: pan-x;
}
.swiper-slide {
  flex-shrink: 0;
  height: 100%;
  position: relative;
  transition-property: transform;
  width: 100%;
}
.swiper-slide-invisible-blank {
  visibility: hidden;
}
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto;
}
.swiper-container-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}
.swiper-container-3d {
  perspective: 1200px;
}
.swiper-container-3d .swiper-cube-shadow,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-wrapper {
  transform-style: preserve-3d;
}
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}
.swiper-container-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.5), transparent);
}
.swiper-container-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), transparent);
}
.swiper-container-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), transparent);
}
.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), transparent);
}
.swiper-container-css-mode > .swiper-wrapper {
  -ms-overflow-style: none;
  overflow: auto;
  scrollbar-width: none;
}
.swiper-container-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}
.swiper-container-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}
.swiper-container-horizontal.swiper-container-css-mode > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}
.swiper-container-vertical.swiper-container-css-mode > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}

.hide-pc {
  display: none !important;
}

body,
html,
li,
p,
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

body > img,
head > img,
html > img {
  display: none;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: -10;
}

.xm-link.xm-button {
  background-color: transparent;
  background-color: initial;
}

.xm-text {
  display: inline-block;
  white-space: break-spaces !important;
}

.hide {
  display: none !important;
}
.xm-page-hide {
  height: 0;
  position: absolute;
}

.xm-picture .xm-img {
  width: 100%;
}
.xm-img {
  color: transparent;
}
.xm-img:not([src]),
.xm-img[src=""] {
  visibility: hidden;
}
.xm-picture {
  display: inline-flex;
}
.eg .xm-text,
.gcc .xm-text,
.sa .xm-text {
  display: block;
}


.section {
  background-repeat: no-repeat;
  margin-bottom: -1px;
  position: relative;
}
.xm-page-area > main,
.xm-page-area_mobile > main {
  position: relative;
  z-index: 1;
}

.kh .xm-text,
.mm .xm-text,
.th .xm-text {
  line-height: 1.5 !important;
}
.kr,
:lang(ko-KR) {
  word-break: keep-all;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}


b,
strong {
  font-weight: 700;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  height: auto;
  vertical-align: middle;
}
form {
  margin: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
td,
th {
  padding: 0;
}
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
menu,
ol,
p,
ul {
  margin: 0;
}
menu,
ol,
ul {
  list-style: none;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
.eco_name-72 {
  font-size: 1.5rem;
  line-height: 1.875rem;
}
.eco_name-64 {
  font-size: 1.33333rem;
  line-height: 1.66667rem;
}
.eco_kv-slogan {
  font-size: 1rem;
  line-height: 1.25rem;
}
.eco_kv-ksp {
  font-size: 0.625rem;
  line-height: 0.91667rem;
}
.eco_kv-label {
  border-radius: 0.08333rem;
  font-size: 0.75rem;
  line-height: 1.08333rem;
}
.eco_ksp-title {
  font-size: 0.83333rem;
  line-height: 1rem;
}
.eco_ksp-text {
  font-size: 0.75rem;
  line-height: 1rem;
}
.eco_ksp-item {
  padding: 1.04167rem;
}
.eco_title {
  font-size: 1.25rem;
  line-height: 1.5rem;
}
.eco_note,
.eco_text {
  font-size: 0.75rem;
  line-height: 0.91667rem;
}
.eco_number {
  font-size: 2.29167rem;
  line-height: 2.29167rem;
}
.eco_note-text {
  font-size: 0.75rem;
  line-height: 0.91667rem;
}
.eco_specs-title {
  font-size: 1.25rem;
  line-height: 1.5rem;
}
.eco_specs-label,
.eco_specs-value {
  font-size: 0.75rem;
  line-height: 0.91667rem;
}
.f-thin {
  font-weight: 100;
}
.f-extra {
  font-weight: 200;
}
.f-light {
  font-weight: 300;
}
.f-regular {
  font-weight: 400;
}
.f-medium {
  font-weight: 500;
}
.f-semi {
  font-weight: 600;
}
.f-bold {
  font-weight: 700;
}
.f-bolder {
  font-weight: 800;
}
.f-heavy {
  font-weight: 900;
}

main {
  font-size: 0.75rem;
}
